/*Global start*/ 
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
/*Global end*/ 

/*Header start*/ 

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 25px 0;
    box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
    -webkit-box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
    -moz-box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
}
.logo{
    width: 133px;
}
.nav-bar > ul {
    display: flex;
}
.nav-li > a {
    color: #303134;
    font-size: 15.74px;
    font-family: 'Raleway', sans-serif;
}
.nav-li:not(:last-child) {
    margin-right: 30px;
}
.bars {
    cursor: pointer;
    width: 30px;
    display: none;
}
.bars > img {
    width: 100%;
}
.logo > img, .bars > img {
    width: 100%;
}
/*Header end*/ 

/*section 1 start */
 .s-1 > div {
     background-image: url(../img/clip.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-size: 100% 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     line-height: 120px;
     height: 538px;
     margin-bottom: 30px;
     box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
    -webkit-box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
    -moz-box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
  }
  .s-1 > div > h2 {
      font-size: 78.74px;
      color:#FFFFFF;
      font-family: 'Arial', sans-serif;
  }
  .s-1 > div > h3 {
      font-size: 18px;
      color:#FFFFFF;
      font-family: 'Arial', sans-serif;
  }
/*section 1 end */ 

/*section 2 start */ 

.s-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box1 {
    width: 269.07px;
    height: 327.42px;
    background-color: #FFFFFF;
}
.box1 > h4 {
    font-size: 26px;
    color: #1A1A1B;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
}
.box1 > div {
     color: #8D8D8D;
     font-size: 16px;
     font-family: 'Raleway', sans-serif;
     margin-bottom: 5px;
}
.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 870px;
    width: 100%;
}
.box {
    width: 269.07px;
    height: 327.42px;
    background-color: #FFFFFF;
    line-height: 25px;
    margin-bottom: 30px;
}
.box > img {
    box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
    -webkit-box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
    -moz-box-shadow: 0px 2px 43px -15px rgba(23,23,23,0.94);
}
.head {
    font-size: 18px;
    color: #1A1A1B;
    font-family: 'Raleway', sans-serif;
    padding: 20px 10px;
}
.p {
    font-size: 16px;
    color: #8D8D8D;
    font-family: 'Raleway', sans-serif;
}
/*section 2 end */ 
